.main {
    margin: 50px auto;
    border: 1px solid #000;
    width: 700px;
    height: 160px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.size {
    height: 140px;
    width: 140px;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    /* opacity: 0.5; */
}

.firstCube {
    margin-left: 10px;
    background-color: #ff6a06;
    /* opacity: 0.5; */
}

.secondCube {
    margin-right: 10px;
    background-color: rgb(52, 52, 206);
    /* opacity: 0.5; */
    /* z-index: 9; */
}

.thirdCube {
    background-color: rgb(243, 229, 33);
    /* left: 0; */
}

.fourthCube {
    background-color: rgb(74, 197, 197);
}

.fivethCube {
    background-color: rgb(136, 143, 143);
}

.modal {
    height: 140px;
    width: 130px;
    display: none;
    position: absolute;
}

.modal-container {
    background-color: rgb(136, 127, 127);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    opacity: 0.7;
    display: none;
    z-index: 54;
}